.Mowing{
	font-size:20px;
	color:red;
}

.Chemicals{
	font-size:15px;
	color:blue;
}

.Weeds{
	font-size:20px;
	color:purple;
}

.sunny{
max-width:750px;
max-height:500px;
height:500px;
width:712px;
float:right;
}

.grassy{
max-width:750px;
max-height:500px;
height:500px;
width:712px;
float:left;
}

.flowery{
max-width:750px;
max-height:500px;
height:500px;
width:712px;
float:right;
}

.gardeny{
max-width:750px;
max-height:500px;
height:500px;
width:712px;
float:left;
}